
        /* SCroll */
        /* Width of the scrollbar */
        ::-webkit-scrollbar {
            width: 6px; /* Width of the scrollbar */
        }
        
        /* Track */
        ::-webkit-scrollbar-track {
            background: #31ffe4; /* Color of the scrollbar track */
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #6e00f5; /* Color of the scrollbar handle */
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #58007e; /* Color of the scrollbar handle on hover */
        }
        
/* ---------------contact social icon------------------ */
/* .social-icons{

} */
@media (max-width:600px) {

    .social-icons{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .info-details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .info-details li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
    .info-details li span{
        color: bisque;
    }
    header nav h1{
        display: none;
    }
    .info-title{
        text-align: center;
    }
    .form-title{
        font-size: 1.5rem;
        padding-top: 1rem;
    }
    main{
        width: 100%;
    }
    .section-wrapper{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

}