/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }
    
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}


/* Add a class to elements you want to animate */
.animated {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
}

/* Keyframes for fade-in animation */
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* costomization */
a{
    text-decoration: none;
}